
@using UTIL.Objetos;
@{
    ViewBag.Title = "AgregarProductos";
    List<ObjetoProducto> ListaProductos = ViewBag.ListadoProductos;
}
<script src="~/WebJs/Productos/AgregarProducto.js"></script>
<link href="~/Content/assets/plugins/danielfarrell/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />

<div class="panel panel-inverse table-responsive">
    <div class="panel-heading">
        <h4 class="panel-title">Listado Productos</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>

    </div>
    <div>
        <br />
        <div style="display:flex;align-items:flex-end;justify-content:flex-end;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgregarProducto">Agregar Producto</button>
        </div>
        <br />
    </div>
    <div class="table-responsive">
        @{
            var grid = new WebGrid(ListaProductos, canPage: false);
        }
        @grid.GetHtml(
        htmlAttributes: new { id = "dataTable" },
        tableStyle: "table",
        columns:
        grid.Columns(
        grid.Column(columnName: "IdProducto", header: "IdProducto", format: @<text>@item.IdProducto</text>),
                                    grid.Column(columnName: "Producto", header: "Producto", format: @<text>@item.Producto</text>),
                                                          grid.Column(columnName: "Familia", header: "Familia", format: @<text>@item.Familia</text>),
                                                                                  grid.Column(columnName: "Unidad Medida", header: "Unidad Medida", format: @<text>@item.UnidadMedida</text>),
                                                            grid.Column(columnName: "Precio", header: "Precio", format: @<text>@item.Precio</text>),
                                                                                                                        grid.Column(columnName: "Editar", header: "Editar", format: @<button class="btn btn-warning btn-m" data-toggle="modal" data-target="#modalEditarProducto" onclick="ObtenerProductos(@item.IdProducto)">
                                                                                                                            Editar<span class="fa fa-pencil"></span>
                                                                                                                        </button>),
                                                                                                                                              grid.Column(columnName: "Eliminar", header: "Eliminar", format: @<button class="btn btn-danger" onclick="EliminarProducto(@item.IdProducto)">Deshabilitar &nbsp;<span class="fa fa-trash"></span></button>)))
    </div>

    <div id="AgregarProducto" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-primary">Agregar Producto</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left input_mask">
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label">Producto</label>
                                    <div class="">
                                        <input type="text" required class="form-control has-feedback-left" id="Producto" name="Producto" placeholder="Producto">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label"> Familia</label>
                                    <div class="">
                                        @Html.DropDownList("Familia", (IEnumerable<SelectListItem>)ViewBag.Familia, "Seleccione...", new { @class = "combobox", @ID = "Familia", @Name = "Familia" })
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label">U.Medida</label>
                                    <div class="">
                                        <select id="Umedida" class="combobox">
                                            <option value="gr">Gramos</option>
                                            <option value="un">Unidad</option>
                                            <option selected value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label">Precio</label>
                                    <div class="">
                                        <input type="number" required class="form-control has-feedback-left" id="Precio" name="Precio" placeholder="Precio">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label"> Receta</label>
                                    <div class="">
                                        @Html.DropDownList("Receta", (IEnumerable<SelectListItem>)ViewBag.Receta, "Seleccione...", new { @class = "combobox", @ID = "Receta", @Name = "Receta" })
                                    </div>
                                </div>
                            </form>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div style="display:flex;align-items:flex-end;justify-content:flex-end;">
                                    <button class="btn btn-primary" type="submit" id="CrearProducto">Grabar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEditarProducto" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-warning">Editar Producto</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left input_mask">
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label">Producto</label>
                                    <div class="">
                                        <input type="text" required class="form-control has-feedback-left" id="modProducto" name="modProducto" placeholder="Producto">
                                        <input type="text" style="display:none;" id="IdProducto" name="IdProducto">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label"> Familia</label>
                                    <div class="">
                                        @Html.DropDownList("Familia", (IEnumerable<SelectListItem>)ViewBag.Familia, "Seleccione...", new { @class = "combobox", @ID = "modFamilia", @Name = "modFamilia" })
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label">U.Medida</label>
                                    <div class="">
                                        <select id="modUmedida" class="combobox">
                                            <option value="Gramos">Gramos</option>
                                            <option value="Unidad">Unidad</option>
                                            <option selected value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label">Precio</label>
                                    <div class="">
                                        <input type="number" required class="form-control has-feedback-left" id="modPrecio" name="modPrecio" placeholder="Precio">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal form-bordered">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label"> Receta</label>
                                    <div class="">
                                        @Html.DropDownList("Receta", (IEnumerable<SelectListItem>)ViewBag.Receta, "Seleccione...", new { @class = "combobox", @ID = "modReceta", @Name = "modReceta" })
                                    </div>
                                </div>
                            </form>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div style="display:flex;align-items:flex-end;justify-content:flex-end;">
                                    <button class="btn btn-warning" type="submit" id="EditarProducto" onclick="ModificarProducto()">Modificar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/assets/plugins/danielfarrell/bootstrap-combobox/js/bootstrap-combobox.js"></script>